<nav>
    <div class="site-title">
      <a href="/"><h1>COMPARTILHANDO SABORES ღ</h1></a>
      <p></p>Compartilhe sua receita favorita</p>
    </div>
    <ul>
      <li><a href="/">Receitas</a></li>
      <li><a href="/SobreNos">Sobre nós</a></li>
      <li><a href="/blogs/create">Nova receita</a></li>
    </ul>
  </nav>