<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
      <h2>Sobre nós</h2>
      <p>Bem-vindo ao Compartilhando Sabores! O lugar perfeito para encontrar e compartilhar receitas incríveis! Aqui, você pode descobrir uma variedade de pratos deliciosos e também compartilhar suas próprias receitas favoritas. Queremos tornar a culinária uma experiência divertida e acessível para todos. Se você adora cozinhar e deseja compartilhar suas receitas, este é o lugar certo para você!</p>
    </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>